{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block meta %}
    {% endblock meta %}
    {% block css_js %}
    {% endblock css_js %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% block t_main %}
{% endblock t_main %}
</body>
</html>