{% extends 'main/emails/poshto.html' %}
{% load static %}
{% load i18n %}
{% load enhavo %}
{% block title %}
    {% if not restarigo %}
    {% trans 'Konfirmo de la registrado' %}
    {% else %}
    {% trans 'Восстановление доступа к учетной записи' %}
    {% endif %}
{% endblock title %}
{% block subject %}
    {% if not restarigo %}
    {% trans 'Konfirmo de la registrado' %}
    {% else %}
    {% trans 'Восстановление доступа к учетной записи' %}
    {% endif %}
{% endblock subject %}
{% block content %}
    <p>
    {% trans 'Saluton' %}, {{ uzanto.unua_nomo|enhavo }} {{ uzanto.familinomo|enhavo }}.
    </p>
    {% if not restarigo %}
    <p>
    {% trans 'Код подтверждения регистрации' %}: <b>{{ kodo }}</b>
    </p>
    {% else %}
    <p>
        {% blocktrans %}
        Это письмо сформировано в ответ на попытку восстановления доступа к Вашей учетной записи.
        {% endblocktrans %}
        <b>{% blocktrans %}Если это не Вы пытаетесь сменить пароль доступа к учетной записи, то игнорируйте это письмо{% endblocktrans %}</b>.
    </p>
    <p>
    {% trans 'Код подтверждения смены пароля' %}: <b>{{ kodo }}</b>
    </p>
    {% endif %}
{% endblock content %}
