{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'enhavo/style/enhavo.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}
    {{ enhavo.nomo }}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">

                <div class="t_bazo_titolo_bloko">
                    <h1>{{ enhavo.nomo }}</h1>
                </div>
                <div class="t_bazo_bloko_tri">
                    <div>{{ enhavo.teksto|safe }}</div>
                </div>

    </div>
{% endblock t_main %}