{% load i18n %}
{% load enhavo %}
{% block title %}
    {% trans 'Новая заявка на консультацию с сайта' %}
{% endblock title %}
{% block content %}
    <p>
        {% blocktrans %}
        Имя: {{ nomo }}
        {% endblocktrans %}
    </p>
    {% if telefono %}
    <p>
        {% blocktrans %}
        Телефон: {{telefono}}
        {% endblocktrans %}
    </p>
    {% endif %}
    {% if organizo %}
    <p>
        {% blocktrans %}
        Организация: {{organizo}}
        {% endblocktrans %}
    </p>
    {% endif %}
    {% if retposhto %}
    <p>
        {% blocktrans %}
        E-Mail: {{retposhto}}
        {% endblocktrans %}
    </p>
    {% endif %}
{% endblock content %}
