{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'main/style/starto.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}
    {% trans 'Poehali!' %}
{% endblock title %}
{% block main %}
    <div class="maincont">
        {% if user.is_authenticated %}
            <div class="open-menu">
                <a href="/idu{{ user.id }}"><div class="drop-item">{% trans 'Mia planedo' %}</div></a>
                <div class="drop-line"></div>
            {% if a_uzanto.is_admin %}
                <a href="#"><div class="drop-item">{% trans 'Sciigoj' %}</div></a>
                {% else %}
                <a href="#"><div class="drop-item-malakt">{% trans 'Sciigoj' %}</div></a>
            {% endif %}
                <a href="/agru{{ user.id }}"><div class="drop-item">{% trans 'Agordoj' %}</div></a>
                <a href="/p5/"><div class="drop-item">{% trans 'Helpo' %}</div></a>
                <div class="drop-line"></div>
                <a href="{% url 'registrado:elsaluti' %}"><div class="drop-item">{% trans 'Elsaluti' %}</div></a>
            </div>
            {% else %}
            <div class="open-menu">
                <form method="POST" action="{% url 'registrado:ensaluti' %}">
                    {% csrf_token %}
                    {{ registrado_formo.as_p }}
                    <button class="submit" id="registrado_selection_submit" style="width: 100%;">{% trans 'Ensaluti' %}</button>
                    <a href="{% url 'registrado:restarigo' %}">{% trans 'Renovigi aliron' %}</a> | <a href="{% url 'registrado:registrado' %}">{% trans 'Registrado' %}</a>
                </form>
            </div>
        {% endif %}
        <div class="mainpage">
            <img src="{% static "main/images/favicon.png" %}" alt="tehnokom.su" class="mainpage__logo"/>
            <h1 class="mainpage__title">{% trans 'Faru unuan paŝon al la' %} <br/> {% trans 'hela komunisma estonteco' %}</h1>
            <a class="mainpage__button" href="/bazainformo" data-message="{% trans 'Premu la butonon, kaj ĉio komenciĝos' %}">{% trans 'En estontecon' %}</a>
            <div class="mainpage__footer">
                <a class="mainpage__footer__telegram" href="https://tehnokom.su/p6/">Ресурсный Центр Технокома</a>
                <div class="mainpage__footer__separator"></div>
                <a class="mainpage__footer__socio" href="/socio">{% trans 'Komunumoj de Teknokomo' %}</a>
                <div class="mainpage__footer__separator"></div>
                <a class="mainpage__footer__help" href="/p5/">{% trans 'Helpo' %}</a>
{#                <div class="mainpage__footer__languages">#}
{#                    <a class="mainpage__footer__languages__link" href="/eo">Esperanto</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/ru">Русский</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/en">English</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/sr">Српски</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/hr">Hrvatski</a>#}
{#                    <a class="mainpage__footer__languages__link" href="/kk">Қазақша</a>#}
{#                    <a class="mainpage__footer__lokalizo" href="https://wp.tehnokom.su/weblate" target="_blank" rel="noopener">Локализация</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="mainpage_mapo">
        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-83.32031250000001%2C-16.46769474828897%2C112.85156250000001%2C66.08936427047088&amp;layer=mapnik"></iframe>
    </div>
{% endblock main %}
