/* Grave! Important! Важно! */

/* Proletoj el ĉiuj landoj, unuiĝu! */
/* Workers of the world, unite! */
/* Пролетарии всех стран, соединяйтесь! */

/* https://tkom.pro */

.enhavo_informo{
	width: 818px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	margin-top: 10px;
	display: inline-block;
}

.enhavo_bloko{
	padding: 10px 10px 0 10px;
}

.enhavo_teksto{
    width: 100%;
	padding-bottom: 10px;
}

.enhavo_teksto a {
	font-weight: normal;
}

.enhavo_teksto_titolo{
	padding-bottom: 10px;
	font-weight: bold;
}